/* Empty. Add your own CSS if you like */

.slider{
	height: 100%;
	text-allign:center;
}

.scroll{
	height:100%;
}

.bg{
	background-color:lightgrey;
}

.has-header {
  top: 44px;
  position:absolute;
  width: 100%;
}